<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card shadow-sm">
        <div class="card-body p-4 p-md-5">
          <header class="mb-4 text-center">
            <h1 class="h3 mb-1">Nouveau mot de passe</h1>
          </header>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-floating mb-3">
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Nouveau mot de passe" %>
              <%= f.label :password, "Nouveau mot de passe" %>
            </div>
            <div class="form-floating mb-4">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmation" %>
              <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
            </div>
            <%= f.submit "Mettre à jour", class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
